internal-services/sub-workflows/ms-supabase-profile.json
{
  "name": "ms-supabase-profile",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"input\": {\n    \"action\": \"get_by_id\",\n    \"profile_id\": \"550e8400-e29b-41d4-a716-446655440000\",\n    \"data\": { \"full_name\": \"John Doe\", \"seniority\": \"Senior\" }\n  }\n}"
      },
      "id": "7056c70a-4330-4322-ba99-4e559925245c",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -624,
        16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "action",
              "value": "={{ $json.input?.action || $json.body?.input?.action || $json.body?.action || '' }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "profile_id",
              "value": "={{ $json.input?.profile_id || $json.body?.input?.profile_id || $json.body?.profile_id || '' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "email",
              "value": "={{ $json.input?.email || $json.body?.input?.email || $json.body?.email || '' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "filters",
              "value": "={{ $json.input?.filters || $json.body?.input?.filters || $json.body?.filters || {} }}",
              "type": "object"
            },
            {
              "id": "id-5",
              "name": "data",
              "value": "={{ $json.input?.data || $json.body?.input?.data || $json.body?.data || {} }}",
              "type": "object"
            },
            {
              "id": "id-6",
              "name": "limit",
              "value": "={{ $json.input?.limit || $json.body?.input?.limit || $json.body?.limit || 50 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "41ea3e5b-8ecb-4238-889d-8f1f431a5d8c",
      "name": "Parse Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "get-by-id",
              "leftValue": "={{ $json.action }}",
              "rightValue": "get_by_id",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "07a7d6c8-5d3e-49e7-8cae-b7eff6b7de80",
      "name": "Route: Get By ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        288,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profiles",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Parse Input').item.json.profile_id }}"
            }
          ]
        }
      },
      "id": "0509c24a-ce28-4de4-874f-f416885e77e8",
      "name": "Get Profile By ID",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        512,
        -352
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PeABjwxLwE7hT4Xt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "get-by-email",
              "leftValue": "={{ $('Parse Input').item.json.action }}",
              "rightValue": "get_by_email",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ce6dea1c-3988-44d5-baab-734539612015",
      "name": "Route: Get By Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        288,
        48
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profiles",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $('Parse Input').item.json.email }}"
            }
          ]
        }
      },
      "id": "4ddf02c9-e735-4ec6-9b7c-544ab3153583",
      "name": "Get Profile By Email",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        512,
        -160
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PeABjwxLwE7hT4Xt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "get-all",
              "leftValue": "={{ $('Parse Input').item.json.action }}",
              "rightValue": "get_all",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "559e8659-f5c9-4b32-a645-15fcf3171b95",
      "name": "Route: Get All?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        288,
        256
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profiles",
        "limit": "={{ $('Parse Input').item.json.limit }}"
      },
      "id": "d83c3f79-537b-4b79-a8e3-a8a5ba73a98e",
      "name": "Get All Profiles",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        512,
        48
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PeABjwxLwE7hT4Xt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "update",
              "leftValue": "={{ $('Parse Input').item.json.action }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7d8c06dd-3544-45f8-ba05-df9e0b3b5a07",
      "name": "Route: Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        288,
        448
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "profiles"
      },
      "id": "a04945bd-84e6-4886-a798-13f8279e509d",
      "name": "Update Profile",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        512,
        256
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PeABjwxLwE7hT4Xt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "delete",
              "leftValue": "={{ $('Parse Input').item.json.action }}",
              "rightValue": "delete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5d3713b-5434-4082-b9ef-15c61e518fc5",
      "name": "Route: Delete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        288,
        656
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $('Parse Input').item.json.email }}"
            }
          ]
        }
      },
      "id": "76ab8ec8-1b74-4c50-86f8-d46b5f0e5a1e",
      "name": "Delete Profile",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        512,
        656
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PeABjwxLwE7hT4Xt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "profiles"
      },
      "id": "dda2c5e4-79f3-458b-aeee-b78fcd11a85d",
      "name": "Create Profile",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        512,
        848
      ],
      "credentials": {
        "supabaseApi": {
          "id": "PeABjwxLwE7hT4Xt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "id-2",
              "name": "action",
              "value": "={{ $('Parse Input').item.json.action }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "result",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "id-4",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b07fe187-1077-4fa6-aa45-554163e1e59d",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        256
      ]
    },
    {
      "parameters": {
        "path": "a7bf93e5-92c4-4466-9502-05a25e753107",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -624,
        -240
      ],
      "id": "830f273e-2c55-45cd-804f-0249ff50dbe2",
      "name": "Webhook",
      "webhookId": "a7bf93e5-92c4-4466-9502-05a25e753107",
      "notes": "🌐 WEBHOOK ENDPOINT\n\nPath: a7bf93e5-92c4-4466-9502-05a25e753107\nMethod: POST\n\n📍 Production URL:\nhttps://recruiter-app.app.n8n.cloud/webhooka7bf93e5-92c4-4466-9502-05a25e753107\n\n🔐 Security:\nConfigure authentication in production settings\n\n📝 Testing:\nUse webhook test URL during development"
    },
    {
      "parameters": {
        "content": "## 🏢 MS-SUPABASE-PROFILE PROCEDURE\n\n### What is this?\nAutomated procedure for ms-supabase-profile.\n\n### Protocol Implementation:\n1. **Initiation**: Triggered via When Executed by Another Workflow.\n2. **Contextualization**: Input data is standardized in the configuration layer.\n3. **Execution Phase**: Business logic is processed node-by-node.\n4. **Data Stewardship**: State is preserved via microservice persistence.\n\n### Deterministic Service Mapping:\n• No external microservice calls detected.\n\n### Deployment Note:\nEnsure all referenced sub-workflows are published and credentials (SMTP/AI) are valid.",
        "height": 550,
        "width": 500,
        "color": 3
      },
      "id": "sticky-a1nm38wkh",
      "name": "Documentation Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -950,
        -450
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Route: Get By ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Get By ID?": {
      "main": [
        [
          {
            "node": "Get Profile By ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route: Get By Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Get By Email?": {
      "main": [
        [
          {
            "node": "Get Profile By Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route: Get All?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Get All?": {
      "main": [
        [
          {
            "node": "Get All Profiles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route: Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Update?": {
      "main": [
        [
          {
            "node": "Update Profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route: Delete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Delete?": {
      "main": [
        [
          {
            "node": "Delete Profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Profile By ID": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Profile By Email": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Profiles": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Profile": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Profile": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Profile": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "90191a0d-7081-4c5f-933e-034088497021",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b92afa9d95eb3ea391c2f4ee276237a2857fb9f047e87e7f925c254aa94dc31b"
  },
  "id": "PLACEHOLDER_MS_SUPABASE_PROFILE",
  "tags": [],
  "description": "TOOL NAME: ms_supabase_profile\n\nDESCRIPTION:\nProvides CRUD operations for candidate profiles. Supports retrieval by ID or\nemail, listing all profiles, and creating or updating profile data.\n\nINPUT SCHEMA:\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"action\": {\n      \"type\": \"string\",\n      \"enum\": [\"get_by_id\", \"get_by_email\", \"get_all\", \"create\", \"update\", \"delete\"],\n      \"description\": \"Profile operation to perform\"\n    },\n    \"profile_id\": {\n      \"type\": \"string\",\n      \"format\": \"uuid\",\n      \"description\": \"Profile UUID\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"format\": \"email\",\n      \"description\": \"Profile email address\"\n    },\n    \"data\": {\n      \"type\": \"object\",\n      \"description\": \"JSON object with profile fields to create/update\"\n    },\n    \"limit\": {\n      \"type\": \"number\",\n      \"default\": 50,\n      \"description\": \"Number of profiles to return for get_all\"\n    }\n  },\n  \"required\": [\"action\"]\n}"
}